*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* body{
    
} */
h2,h4{
    display:flex;
    justify-content: center;
    margin:20px;
}
a{
    text-decoration: none;
}
.form-container form{
    display:flex;
    align-items:center;
    justify-content: center;
}
.form-container h4{
    margin:20px auto;
    justify-content: center;
    text-align: center;
}
.form-container form input, .form-container form button{
    color:rgb(87, 74, 206);
    /* color:black !important; */
    padding:10px;
    outline:none;
    border:1px solid black;
    border-radius:5px;
    margin:0px 5px;
}
.form-container form button{
    cursor:pointer;
}


.product-form{
    margin:20px auto;
    display:block;
    width:100%;
    justify-content:center;
    border-bottom:1px solid rgb(126, 122, 122);
}
.product-form button{
    display:flex;
    justify-content:center;
    margin:10px auto;
    padding:6px;
    cursor:pointer;
}
.product-form .form-control{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    color:rgb(113, 60, 199);
}
.product-form .form-control div{
    margin:8px;
}
.product-form .form-control label{
    margin:10px ;
}
.product-form .form-control input{
    outline:none;
    padding:5px;
}
.product-form .form-control input[name="description"]{
    min-height:50px;
}
.product-view{
    display:block;
}
.product-container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin:20px auto;
    padding:20px auto;
    width:50%;
    border:1px solid rgb(209, 204, 204);
}
.product-container div{
    display:flex;
    justify-content:center;
    margin:10px auto;
}
.product-container div span{
    color:rgb(100, 19, 230);
    font-size:18px;
    margin:0px 10px;
}
.main-header__nav{
    background-color: blueviolet;
}
.main-header__item-list{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    list-style-type: none;
}
.main-header__item{
    padding:5px;
}
.main-header__item a{
    color:white;
}
.main-header__item a.active{
    color:yellow;
}
.main-header__item:hover{
    background-color: rgb(40, 33, 47);
}

.btn, .prod_actions a{
    color:white;
    background:blueviolet;
    margin:auto 10px;
    padding:6px;
}